@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Oswald:wght@500&display=swap');

:root {
    --canva_off: rgba(110, 118, 129, 0.4);
    --main_color-login: #4152b3;
    --main_color-primary: #1783db;
    --main_color-secondary: #e7f2fd;
    --main_color-tertiary: #fafbfe;
    --color_text-primary: #101e2c;
    --color_text-secondary: #101e2c;
    --color_text-tertiary: #fff;
    --text_size-title: 40px;
    --color-overlay-shadow: 0 0 0 1px #30363d, 0 16px 32px rgba(1, 4, 9, 0.85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-family: 'Oswald', sans-serif; */
}

body {
    background: var(--main_color-secondary) !important;
}

/* Navegación - START */
nav,
.offcanvas {
    background-color: var(--main_color-primary);
}

.logo__empresa {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    /* padding: 0 15px; */
}

.sidebar {
    box-shadow: var(--color-overlay-shadow);
    background: #11101d;
    transition: all 0.4s ease;
    border-radius: 0 12px 12px 0;
}

.sidebar a {
    color: var(--color_text-tertiary);
    text-decoration: none;
}

.menu-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-items {
    padding: 12px;
    list-style: none;
    transition: all 0.4s ease;
}

.item a {
    padding: 14px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}

.item a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.offcanvas {
    --bs-offcanvas-width: 260px;
}

.bt-close {
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bt-close:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Navegación - END */

/* Login - START */
.half {
    background: #fff;
}

.text-login {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.btn-login {
    font-weight: 600;
    font-size: large;
}

.half,
.half .container>.row {
    height: 100vh;
    min-height: 700px;
}

.half .color {
    background: var(--main_color-login);
}

.half .contents,
.half .bg {
    width: 50%;
}

.half .contents .form-control,
.half .bg .form-control {
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 54px;
    background: #fff;
}

.half .bg {
    background-size: cover;
    background-position: center;
}

.half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

@media (max-width: 1199.98px) {

    .half .contents,
    .half .bg {
        width: 100%;
    }
}

/* Login - END */

/* Componente Principal - START */
.container__principal {
    padding-top: 40px;
    padding-bottom: 1%;
}

.vista-principal {
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

.text__principal {
    display: flex;
    justify-content: center;
    margin: auto;
}

.text__principal h1 {
    font-size: var(--text_size-title);
    font-weight: 600;
    color: var(--color_text-secondary);
}

.container__vista-principal {
    margin-top: 20px;
}

.table th {
    background: var(--main_color-tertiary);
}

.table-responsive {
    max-height: 24rem !important;
    overflow-y: auto;
}

/* oculta scroll
.table-responsive::-webkit-scrollbar {
    display: none;
} */

/* Contenido Principal - END */

/* PrincipalVentas - START*/
.ventas__fecha {
    color: var(--color_text-secondary);
    font-weight: bold;
    border-radius: 0px;
}

/* PrincipalVentas - END*/

/* Input con icono - START*/
.input-con-icono{
    position: relative;
}

.icon-input{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
    z-index: 1;
}

.input-con-icono input{
    padding-right: 40px;
}

.password-icon {
    color: #777;
    font-size: 0.8rem;
}

/* Input con icono - END*/

